body {
    background: #d2e9fb !important
}

/* body .container {
    max-width: 1100px
} */

#filter-buttons button {
    border-radius: 3px;
    background: #fff;
    border-color: transparent;
    font-family: "Voces", sans-serif;
    font-size: 1.4rem;
    position: relative;
}

#filter-buttons button:hover {
    background: #ddd
}

#filter-buttons button.active {
    color: #ff3b3b;
    background: #ffe3ce;
    top: -5px;
}

#filterable-cards .card {
    background: #fffbe5;
    width: 15rem;
    border: 2px solid transparent;
    font-family: "Voces", sans-serif;
}

#filterable-cards .card.hide {
    display: none
}

@media(max-width: 600px) {
    #filterable-cards {
        justify-content:center
    }

    #filterable-cards .card {
        width: calc(100%/2 - 10px)
    }
}

.vowel {
    color: #ff3b3b;
    font-weight: 700;
}
.consonant {
    color: #4a6fff;
    font-weight: 700;
}

.no_selection {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.versus-word{
    font-size: 2rem;
}

.versus-phonetic{
    font-size: 1.25rem;
    font-weight: 500;
}

.versus-card-text{
    color: #0093ff;
    text-align: center;
    pointer-events: none;
    border: none; background: unset;
}

.versus-card-text span{
    text-decoration: underline;
    font-style: italic;
    background: #e6ffc7; 
    padding: 2px;
}

.versus-menu-text{
    color: #333; font-size: .8rem; font-style: italic; pointer-events: none;
}

.word-number{
    float: right;
    position: absolute;
    font-size: 4rem;
    bottom: 0;
    top: 0;
    right: 0;
    color: #95959517;
    padding: 0;
    margin: 0;
}